<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'form', user: @user %>
      <div class="row">
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
        <% end %>
      </div>
      <%= render 'index', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @book_show.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
            <td>
              <%= render 'favorites/favorite', book: book %>
            </td>
            <td>
                コメント数：<%= book.book_comments.count %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>